<h1>Welcome to Band.io</h1>
</br>
<%= link_to("Venues", venues_path) %>
</br>
</br>

<%= link_to("Create a Venue", new_venues_path) %>
</br>
</br>

<%= link_to("Create a Band", new_band_path) %>
</br>
</br>

